@model IEnumerable<MVC_FIRST_PROJECT.Models.Customer>

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Discount Rate</th>
                <th>Date of Birth</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.MembershipType.DiscountRate%</td>
                <td>@customer.BirthDate</td>
                <td>@customer.MembershipType.DurationInMonts</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = customer.Id }) |
                    @Html.ActionLink("Details", "Details", new { id= customer.Id })|
                    @Html.ActionLink("Delete", "Delete", new { id= customer.Id })
                </td>
            </tr>
            }
        </tbody>
    </table>
}
